body > h1 {
	font-size: 3em;
	text-align: center;
	padding: 1em 0;
	color: #444;
}
body > h1 a {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	display: grid;
	max-width: 80em;
	margin: 0 auto;
	grid-template-columns: 25em auto;
	grid-column-gap: 3em;
}
#wrapper > header {
	grid-column: 1;
	grid-row: 1;
}
	#wrapper > header > img {
		max-width: 100%;
		border: 2px solid black;
	}
	#wrapper > header > p {
		font-size: 1.2em;
		text-align: right;
		padding-left: 10%;
	}
#wrapper > section {
	grid-column: 2;
	grid-row: 1;
}
	#wrapper > section > h2 {
		font-size: 2em;
		margin-top: .5em;
		background-color: #d7611b;
		color: white;
		display: inline-block;
		outline: .5em solid #d7611b;
	}
#wrapper > footer {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row: 2;

	border-top: 1px solid #AAA;
	font-size: 0.9em;
	text-align: right;
	margin-top: 3em;
}
	#wrapper > footer a {
		color: #48F;
	}
#wrapper > header> .box {
	margin-top: 3em;
	font-size: 0.9em;
}
	#wrapper > header> .box > h2 {
		font-size: 1.1em;
		text-align: center;
		padding-bottom: 1em;
		border-bottom: 1px solid #AAA;
	}

#recent {
}
	#recent article {
	}
	#recent article h1 {
		font-size: 1em;
	}
	#recent .episode h1 {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

.episode {
	padding: .5em 0;
}
.episode + .episode::before {
	content: "———";
	text-align: center;
	display: block;
	color: #d7611b;
	font-weight: bold;
	padding-bottom: 1em;
}
.episode h1 {
	font-size: 1.2em;
	padding-bottom: .5em;
	border-bottom: 1px solid #d6611b;
	margin-bottom: .5em;
}
.episode h1 a {
	color: inherit;
	text-decoration: none;
}
.episode small {
	color: #888;
	display: block;
}
.episode .audio {
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #d6611b;
}
.episode .body {
	padding: 1em;
	background: #FAFAFA;
	border: 1px solid #F0F0F0;
}
	#recent .episode .body {
		background: none;
		border: none;
	}
	.episode .body :first-child { margin-top: 0; }
	.episode .body :last-child { margin-bottom: 0; }
	.episode .body h1 { font-size: 1.2em; font-weight: bold; }
	.episode .body h2 { font-size: 1.2em; font-weight: normal; }
	.episode .body h3 { font-size: 1.1em; font-weight: bold; }
	.episode .body h4 { font-size: 1.1em; font-weight: normal }
	.episode .body h5 { font-size: 1em; font-weight: bold; }
