html {
	overflow-y: none;
	height: 100%;
}
body {
	/* https://github.com/podlove/podlove-subscribe-button/issues/109 */
	overflow-y: scroll !important;
	margin: 0 !important;
}

body > h1 {
	font-size: 1.8em;
	text-align: center;
	padding: 1em;
	color: white;
	background-color: #d6611b;
	margin: 0;
	display: block;
	padding: 1em;
}
	body > h1 img {
		max-height: 25vh;
		margin: 1em auto 0;
		border: 5px solid white;
	}
	@media screen and (min-width: 42em) {
		body > h1 {
			font-size: 2em;
		}
	}
	@media screen and (min-width: 60em) {
		body > h1 {
			font-size: 3em;
		}
	}
body > h1 a {
	color: inherit;
	text-decoration: none;
}

#player {
	background-color: #444;
	text-align: center;
}
	#player audio {
		margin: 0 auto;
		width: 100%;
	}
	@media screen and (min-width: 42em) {
		#player audio {
			width: 40em;
		}
	}

ul { list-style-type: square; }

#wrapper {
	max-width: 40em;
	margin: 0 1em;
	padding: 3em 0;
}
@media screen and (min-width: 42em) {
	#wrapper {
		margin: 0 auto;
	}
}

#wrapper > header {
}
	#tagline {
		font-size: 1.2em;
		hyphens: auto;
		text-align: justify;
	}

	#contact {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		padding: 0;
		padding-bottom: 1em;
	}
		#contact li {
			flex: 1;
			max-width: 3em;
		}

	#subscribe {
		max-width: 20em;
		margin: 0 auto;
		margin-top: 2em;
	}

.episode {
	border-top: 1px dashed #d6611b;
	margin-top: 1em;
	padding-top: 1em;
}
	.episode_decor {
		float: left;
		padding-top: 0.25em;
		padding-right: 1em;
		height: 100%;
	}
		.episode_decor img{
			height: 2em;
			width: 2em;
		}

	.episode_blurb {
		overflow: hidden;
	}

	.episode.full {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
	.episode + .episode {
	}
	.episode h1 {
		font-weight: bold;
		font-size: 1.2em;
		margin: 0;
	}
		.episode.full h1 {
			font-size: 1.5em;
			padding-bottom: 2rem;
		}
		@media screen and (min-width: 42em) {
			.episode.full h1 {
				font-size: 1.8em;
			}
		}
		@media screen and (min-width: 60em) {
			.episode.full h1 {
				font-size: 2em;
			}
		}
		.episode h1 a {
			text-decoration: none;
			color: inherit;
		}
		.episode h1 a:hover {
			text-decoration: underline;
		}
	.episode > .detail, .episode_blurb > .detail {
		color: #888;
		display: block;
		line-height: 1.7;
	}
		.episode .detail a {
			color: #d6611b;
			opacity: 0.7;
		}
		.episode .detail a:hover {
			opacity: 1;
		}
	.episode .body {
	}
		.episode .body a {
			color: #d6611b;
		}
		.episode .body .jump {
			cursor: pointer;
			font-weight: bold;
			color: inherit;
		}
			.episode .body h4 .jump {
				color: #d6611b;
			}
			.episode .body .jump::before {
				content: "@";
			}
		.episode.full .body {
			padding-left: 0;
		}
		.episode .body li {
			margin: .5em 0;
		}
		.episode .body h1, .episode .body h2, .episode .body h3, .episode .body h4 {
			font-size: 1em;
		}
	.episode.transcript .body code {
		background-color: #f1f1f1;
		padding: 0.1em 0.2em;
	}
	.episode.transcript .body h4 {
		margin-top: 3em;
		font-size: 1em;
		text-align: center;
	}
	.episode.transcript > .detail {
		margin-bottom: 2em;
	}


#wrapper > footer {
       border-top: 1px solid #AAA;
       font-size: 0.9em;
       text-align: center;
       margin-top: 3em;
 }
       #wrapper > footer a {
               color: #48F;
       }
