<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% if page.title %}{{ page.title | escape }} :: {% endif %}{{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}" />
		<meta property="og:site_name" content="{{ site.title }}" />
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/podcast.rss" />
	</head>
	<body>
		<h1>
		<a href="/">
			The {{ site.title | default: site.github.repository_name }} Podcast
			<img
			 srcset="
			  /images/artwork.jpg 3000w,
			  /images/artwork-2x.jpg 1500w,
			  /images/artwork-4x.jpg 750w,
			  /images/artwork.small.jpg 400w
			 "
			 src="/images/artwork-4x.jpg"
			/>
		</a>
		</h1>
		{%- include util.html -%}
		{%- if episode.file -%}
		<div id="player">
		<audio src="https://dts.podtrac.com/redirect.mp3/{{ episode.file | replace_first: "https://", "" }}" controls></audio>
		</div>
		{%- endif -%}
		<div id="wrapper">
			{{ content }}
			<footer>
				<p><a href="{{ site.github.repository_url }}">View {{ site.github.repository_nwo }} on GitHub</a></p>
				<p>Icons by <a href="https://simpleicons.org/">Simple Icons</a>
			</footer>
		</div>
		<div style="clear:both"></div>
	</body>
</html>
