<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}" />
		<meta property="og:site_name" content="{{ site.title }}" />
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/podcast.rss" />
	</head>
	<body>
		<h1><a href="/">The {{ site.title | default: site.github.repository_name }} Podcast</a>&nbsp;📣</h1>
		<div id="wrapper">
			<header>
				<img
				 srcset="
				  /images/artwork.jpg 3000w,
				  /images/artwork-2x.jpg 1500w,
				  /images/artwork-4x.jpg 750w
				 "
				 src="/images/artwork-4x.jpg"
				/>
				<p>{{ site.subtitle }} {{ site.description }}

				<div class="box">
					<h2>Community</h2>
					<p>If you would like to offer Rust-related podcast content for us to host, or would like advice and resources on making your own Rust podcast, get in touch with us!
					<ul>
						<li>Twitter: <a href="https://twitter.com/rustaceanfm">@rustaceanfm</a>
						<li>Discord: <a href="https://discord.gg/cHc3Gyc">Rustacean Station</a>
						<li>Github: <a href="https://github.com/rustacean-station/">rustacean-station</a>
						<li>Email: <a href="mailto:hello@rustacean-station.org">hello@rustacean-station.org</a>
					</ul>
				</div>

				<div id="recent" class="box">
					<h2>Last few episodes</h2>
					{% for post in site.episodes limit:3 %}
					<article class="episode">
						<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
						<div class="body">
						{{ post.excerpt }}
						</div>
					</article>
					{% endfor %}
				</div>
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
				<p><a href="{{ site.github.repository_url }}">View {{ site.github.repository_nwo }} on GitHub</a></p>
			</footer>
		</div>
</html>
