---
layout: default
---

<article class="episode full">
	<h1>{{ page.title }}</h1>
	<span class="detail">Posted {{ page.date | date_to_rfc822 }}</span>
	{% if page.reddit %}
	<span class="detail"><a href="{{ page.reddit }}">Discussion on Reddit</a></span>
	{% endif %}
	{% capture pagefn %}{{ page.path | remove_first: page.collection | remove_first: '_/' }}{% endcapture %}
	{% for trans in site.transcripts %}
	{% capture transfn %}{{ trans.path | remove_first: trans.collection | remove_first: '_/' }}{% endcapture %}
	{% if transfn == pagefn %}
	  <span class="detail"><a href="{{ trans.url }}">Episode Transcript</a></span>
	  {% break %}
	{% endif %}
	{% endfor %}

	<div class="body">
	{{ content }}
	</div>

	<!--
	<span class="detail"><a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">View raw episode metadata</a></span>
	-->
</article>
<script>
	var audio = document.querySelector('#player audio');
	document.querySelectorAll('.episode .body li, .episode .body h4').forEach(function(e) {
		var text = e.childNodes[0];
		if (text.nodeType == Node.TEXT_NODE && text.textContent.startsWith('[@')) {
			// extract time code
			var time = text.textContent.split(/\n/)[0].replace(/^\[@(.*?)\].*/, '$1');
			console.log(time, time.length);
			var parts = time.split(/:/);
			var secs = parseInt(parts.pop(), 10);
			if (parts.length > 0) {
				secs += 60 * parseInt(parts.pop(), 10);
			}
			if (parts.length > 0) {
				secs += 3600 * parseInt(parts.pop(), 10);
			}
			var a = document.createElement('a');
			a.textContent = time;
			a.classList.add('jump');
			a.addEventListener('click', function(e) {
				audio.currentTime = secs;
			}, false);
			text.parentNode.insertBefore(a, text);
			console.log(text, time, time.length);
			text.textContent = text.textContent.substr(time.length + 3);
		}
	});
</script>
